.wrapper {
  border: 3px solid black;
  padding: 24px;
  width: 360px;

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;

  background-color: lightblue;
  border-radius: 16px;
}

.input {
  width: 100%;
  padding: 8px;
  border-radius: 8px;
  border: 1px solid #333;
}

.button {
  padding: 8px 16px;
  border-radius: 8px;
  border: 1px solid black;
  cursor: pointer;
}

.card {
  width: 100%;
  background-color: #f4faff;
  border-radius: 12px;
  padding: 16px;

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.title {
  margin: 0;
}

.countries {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.countryItem {
  background-color: white;
  padding: 8px 12px;
  border-radius: 8px;
  display: flex;
  justify-content: space-between;
}
