.container {
    width: 450px;
    height: 450px;
    border: 1px solid #ccc;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.image {
    margin-top: 20px;
    width: 120px;
    height: 120px;
    object-fit: cover;
    border-radius: 50%;
}